.btn{
    display: block;
    margin: 10px auto;
    padding: 8px 20px;
    border-radius: 6px;
    border: none;
    background-color: #1B4D3E;
    color:white;
    cursor: pointer;
    width: 100px;

}
.btn:hover{
    background-color: whitesmoke;
    color: black;
}