.heading-d{
    text-align: center;
    font-size: 35px;
    color: #690B22;
}
.btn-update{
        display: block;
        margin: 10px auto;
        padding: 8px 20px;
        border-radius: 6px;
        border: none;
        background-color: #1B4D3E;
        color:white;
        cursor: pointer;
        width: 150px;
        text-decoration: none!important;}
    .btn-update:hover{
        background-color: whitesmoke;
        color: black;
    }
.span{
    font-size: large;
    margin-right: 5px;
padding-left: 20px;
padding-right: 20px;
width:max-content
   
}
.spany{
    text-align: center;
    color: #044825;
    display: block;
    margin: 10px auto;
    font-size: medium;
}
.homeimg{
    height: 50px;
    position:fixed;
    top:30px;
    display: inline;
    margin-bottom: 0px;
    right:20px;
    cursor: pointer;
}
.bookimg{
    position: absolute;
    top:50px;
    right: 150px;
    object-fit: contain;
    height: 400px;
    border: 3px solid black;
    border-radius: 10px;
}
.maindiv{
    width: 900px;
    padding: 10px;
   

}
.desp{
    margin-left:2px;
    align-items: left;
    font-size: medium;
    
}
.namebook{
    font-size: xx-large;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
    margin-left: 20px;
    margin-bottom: 5px;;
}
.pricebook{
    font-size: x-large;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    margin-left: 20px;
    color: #034d11;
    padding-left: 2px;
}
.abt{
    border-left: 5px solid black;
    padding: 10px;
    background-color: rgb(251, 195, 126);
    border-radius: 5px;
    margin-left: 20px;
}
.authorbook{
  font-style: italic;
    font-weight:800;
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
    margin-left: 20px;
    margin-bottom: 5px;;
}