.headingadd{
    text-align: center;
    font-size: 30px;
    display: block;
    margin: 10px;
    font-weight:bold;
    margin-bottom: 30px;
}
.caption{
    text-align: center;
    font-size: 16px;
    display: block;
    margin: 5px;
    margin-bottom: 20px;
    color: grey;
}
.form{
    background-color : #F1E3D3;
    display: block;
    margin: 10px auto ;
    width: 500px;
    border-radius: 10px;
    box-shadow: 2px 2px 4px 4px grey;
    padding: 20px;
    padding-left: 70px;
}
input{
    margin: 5px;
    margin-bottom: 20px;
    height: 20px;
    border-radius: 4px;
    padding: 4px;
    width: 50%;
    border: none;
}
input:hover{
    box-shadow: 2px 2px 2px 2px grey ;
}
.homeimg{
    height: 50px;
    position:fixed;
    top:30px;
    display: inline;
    margin-bottom: 0px;
    right:20px;
    cursor: pointer;
}
.img{
    height: 300px;
    display: block;
    margin: 10px auto;
    margin-top: 0px;
}
.btn-add{
    display: block;
    margin: 10px auto;
    padding: 8px 20px;
    border-radius: 6px;
    border: none;
    background-color: #1B4D3E;
    color:white;
    cursor: pointer;

}
.btn-add:hover{
    background-color: whitesmoke;
    color: black;
}