.bookcard{
    background-color: #F1E3D3;
    width: 500px;
    margin : 20px auto;
    padding:  10px 20px;
    border-radius: 5px;
    text-decoration: none !important;
    color: black;
    position: relative;
    padding-bottom: 14px;
    height:max-content

}

.delbtn{
top:50%;
right:5px;
transform: translateY(-50%);
position: absolute;
cursor: pointer;
border: none;
padding: 5px 10px;
border-radius: 4px;
background-color: #690B22;
color: white;
}
.bookname{
    font-size: 20px;
    font-weight: 600;
}
.authorname{
    font-size: 16px;
    margin: 2px;
    color: #555555;
}