.homehead{
    text-align: center;
margin-top: 0px;
}
.img{
        height: 350px;
        display: block;
        margin: 10px auto;
        margin-top: 0px;
        margin-bottom: 5px;
    }
.errormsg{
    text-align: center;}
.quote{
    text-align: center;
margin-top: 20px;
background-color: #F3CF7A;
width: 600px;
padding: 10px;
border-radius: 3px;
display: block;
margin-left: auto;
margin-right: auto;
}
.searchbar{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.signout{
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    cursor: pointer;
    width: 30px;
}